body{   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

sub{
    color: var(--cyan-600);
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

#root{
    max-width: 150vh;
    position: relative;
    z-index: 99;
    
}